<div class="content-container">
  <div class="row">
    <div class="col-md-4">
      <% if @mountain.image.present? %>
        <%= image_tag(@mountain.image, width: "100%") %>
      <% else %>
        <%= image_tag('generic-mt.png', width: "100%") %>
      <% end %>
      <div class="mountain-info">
        <p><%= @mountain.name %></p>
        <p><%= @mountain.height %> meters</p>
        <p><%= @mountain.notes %></p>
        <p><%= @mountain.latitude %>, <%= @mountain.longitude %></p>
      </div>

      <%= content_tag "div", id: "mountain-map", data: {url: @mountain } do %>
      <% end %>
    </div>
    <div class="col-md-8">
      <% if @current_user_trips.present? %>
        You've hiked this mountain!
        <% @current_user_trips.each do |trip| %>
          <%= link_to trip.title, trip_path(trip) %>
        <% end %>
      <% else %>
        Have you hiked this mountain yet? <%= link_to "Record it!", new_trip_path %>
      <% end %>
      <% if user_signed_in? && @current_user.admin? %>
        <%= link_to "Edit this mountain", edit_mountain_path(@mountain) %>
      <% end %>
    </div>
  </div>
</div>
