<div class="full-width-container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@user.image, width: "100%") %>
    </div>
    <div class="col-md-8">
      <ul>
        <li><%= @user.user_name %></li>
        <li><%= @user.first_name %> <%= @user.last_name %></li>
        <li><%= @user.email %></li>
      </ul>
    </div>
  </div>
</div>
