<!DOCTYPE html>
<html>
<head>
  <title>Summitup</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  <!-- Top Navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SummitUp!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><a href="/trips/new">Record a Hike</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Stuff<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Profile', user_path(current_user.id) %></li>
              <li><%= link_to 'My Hikes', trips_path %></li>
              <li><%= link_to 'My Mountains', mountains_path %></li>
            </ul>
          </li>
          <li></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- Would like to make this a link to the profile? Or just get it centered up and down without making it  damn link! -->
          <li><%= link_to "Logged in as #{current_user.user_name}", user_path(current_user.id) %></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        </ul>
      <% end %> 


    </div> <!-- /.navbar-collapse -->
  </nav>

  <% flash.each do |name, msg| %>
    <div class="alert alert-info">
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    </div>
  <% end %>

  <%= yield %>
  <div class="row">
    <div class="col-md-12 center footer-nav navbar-fixed-bottom">
      <div class="bottom-links">
        <a href="#">About</a>
        <a href="#">Suggestions</a>
        <!-- <img src="/images/mountain.png"> -->
        <a href="#">Settings</a>
        <a href="#">Home</a>
      </div>
    </div>
  </div>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
</body>
</html>
